<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建对象-->
    <bean id="teacher" class="com.spring.bean_ioc.Teacher" autowire="byName">
       <property name="name" value="zang"></property>
        <property name="age" value="45"></property>
        <property name="list">
            <list>
                <value>"dfdf"</value>
                <value>"dffd"</value>
            </list>
        </property>

     </bean>

   <bean id="dog" class="com.spring.bean_ioc.Dog">
       <constructor-arg index="0" value="哈士奇"></constructor-arg>
       <constructor-arg index="1" value="3"></constructor-arg>
   </bean>


</beans>